<div class="container">
     <div class="row" style="width: 100%;">
       <div class="col-md-12" >

         <div class="card p-3" >
           <div class="text-end">
           </div>
           <div class="box-image">
             <!-- Show video when image is not captured -->
              @if(!croppedImage ){
                <div class="video-container">
             <video #video autoplay  style="width: 100%; height: auto;" ></video>
             <canvas #canvasOverlay style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; pointer-events: none;"></canvas>
            </div>
              }
 
              @if(croppedImage){
                <div>
                  <image-cropper
                    [imageBase64]="croppedImage"
                    [maintainAspectRatio]="false"
                    [transform]="transform"
                    format="png"
                    [roundCropper]="false"
                    (imageCropped)="imageCropped($event)"
                    (imageLoaded)="imageLoaded($event)"
                    (cropperReady)="cropperReady()"
                    (loadImageFailed)="loadImageFailed()">
                  </image-cropper>
               </div>
           }
           </div>
           @if(isCroppedValid==false){
            <div  class=" d-flex justify-content-center mt-3 text-danger alert-danger" >
                <p>*.The cropped image is invalid. Please try again</p>
              </div>
           }
           
           <div class="d-grid gap-2 d-md-flex justify-content-md-start mt-5">
             <button type="button" class="btn " style="background-color: #009688;color: white;"  (click)="openCamera()">الكاميرا</button>
             <button type="button" class="btn" style="background-color: #009688;color: white;"   (click)="captureImage()">قص</button>
           </div>
           